*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}
body{
   background-color: #97c27a;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23c7e6b3' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   height: 100vh;
}

#grilla {
    height: 60vh;
    display: grid;
    grid-template-areas:
      "header"
      "img"
      "nav"
      "titulo"
      "main"
      "footer";
    grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: 1fr;

 }


header {
   grid-area: header;
  background-color: white;

  
}

header h1{
  grid-area: tituloMarca;
  text-align: center;
  font-family: 'Freckle Face', cursive;
  font-size: 4em;
  color: #EF763D;

}

footer {
   grid-area: footer;
}

main {
   grid-area: main;
   display: flex;
   flex-wrap: wrap;
}

main img{
  width: 30%;
  height: 30%;
  margin: 5px;
}

#img {
  grid-area: img;

}

#img img{

  display: none;
  width: 100%;
  height: 100%;
}

nav {
   grid-area: nav;
   background-color: #ee7339dc;
}

nav ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
nav ul li{

  list-style: none;
  margin: 0.8em;
  padding: 0.3em;
  text-transform: uppercase;
  background-color: whitesmoke;
  border: 0.3rem solid whitesmoke;
  border-radius: 2rem;
  
  
} 

nav ul li a{
  text-decoration: none;
  text-align: center;

}

#titulo {

    grid-area: titulo;
    text-align: center;
    font-family: 'Freckle Face', cursive;
    font-size: 2rem;
    color: #EF763D;

}


/*Vista Tablet*/
@media only screen and (min-width:600px) {
    #grilla {
        height: 80vh;
        display: grid;
        grid-template-areas:
        "header header"
        "nav img"
        "titulo titulo"
        "main main"
        "footer footer";
        grid-template-rows: repeat(5, 1fr); 
        grid-template-columns: repeat(2, 1fr);
     }
#img img{
   display: block;
}


}

/*vista escritorio*/
@media only screen and (min-width:1024px) {
    #grilla {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "header header header header"
        "img img img img"
        "nav nav nav nav"        
        "titulo titulo titulo titulo"
        "main main main main"
        "footer footer footer footer";
        grid-template-rows: repeat(6, 1fr); 
        grid-template-columns: repeat(4, 1fr);
     }

#img img{
        height: 75vh;
     }

header h1{

   font-size: 8em;

}

.border{
   justify-content: center;
}
   
.imagenChica:hover{
       scale: 1.2;
       transition: 0.5s;
   }

.imagenes:hover{
      scale: 1.1;
      transition: 0.5s;
  }


nav ul li:hover{

      transform: rotate(5deg);
      background-color: rgb(235, 144, 39);
    } 
   
}