*{
   margin: 0;
   padding: 0;
}

body{
   background-image: -moz-linear-gradient(180deg, hsla(96, 50%, 80%, 1) 0%, hsla(96, 37%, 62%, 1) 100%);
}
header{
   background-color: white;
}

h1{
   font-size: 5rem;
   font-family: 'Freckle Face', cursive;
   color: #EF763D;

}

h2{
   font-size: 3rem;
   font-family: 'Freckle Face', cursive;
   color: #EF763D;
}

nav ul li{
   list-style-type: none;
}
