@import "../utilidades/tamimagenes";

$tablet: 600px;
$desktop: $tablet+424;

 #grilla {
    height: 60vh;
    display: grid;
    grid-template-areas:
      "header"
      "img"
      "nav"
      "titulo"
      "main"
      "footer";
    grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: 1fr;

    main{
        justify-content: center;
    img{

        @include tamImagnes(75%, 30%);
        padding: 1em;
      }
    }

    .imagenfaq{
        display: none;
    }
 }
 
/*Vista Tablet*/
@media only screen and (min-width:$tablet) {
    #grilla {
        height: 80vh;
        display: grid;
        grid-template-areas:
        "header header"
        "nav img"
        "titulo titulo"
        "main main"
        "footer footer";
        grid-template-rows: repeat(5, 1fr); 
        grid-template-columns: repeat(2, 1fr);

        main{
        
            img{
                @include tamImagnes(50%, 30%);
                padding: 1em;
              }

              .imagenfaq{

                display: flex;
                flex-wrap: wrap;
                height: 20%;
                width: 70%;
    
            }
            }

     #img {
        img{
            display: block;
            }
     }
        
    }

}

/*vista escritorio*/
@media only screen and (min-width:$desktop) {
    #grilla {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "header header header header"
        "img img img img"
        "nav nav nav nav"        
        "titulo titulo titulo titulo"
        "main main main main"
        "footer footer footer footer";
        grid-template-rows: repeat(6, 1fr); 
        grid-template-columns: repeat(4, 1fr);

        header{
            h1{
                font-size: 8em; 
            }
        }

        #img {
            img{
                height: 75vh;
                }
         }

     main{

                img{
                    @include tamImagnes(30%, 50%);
                    padding: 1em;
                  }

            .encuesta{
            display: inline-block;
            margin: 3.3em;
        }

        .imagenfaq{
            margin: 5em;
            display: flex;
            flex-wrap: wrap;
            height: 20%;
            width: 40%;

        }
        .faq{
            display: inline-block;
        }
 
    }
         

     }

/*Menu*/
.border{
   justify-content: center;
}
   nav{
       ul{
           li{
               &:hover{
                     transform: rotate(5deg);
                     background-color: rgb(235, 144, 39);
               }
           }
       }
   }

   
main{

    .imagenes{
        &:hover{
            scale: 1.1;
            transition: 0.5s;
        }
    }
}
}
