/*Vista Tablet*/
@media only screen and (min-width:600px) {
    #grilla {
        height: 80vh;
        display: grid;
        grid-template-areas:
        "header header"
        "nav img"
        "titulo titulo"
        "main main"
        "footer footer";
        grid-template-rows: repeat(5, 1fr); 
        grid-template-columns: repeat(2, 1fr);


     #img {
        img{
            display: block;
            }
     }
        
    }

}

/*vista escritorio*/
@media only screen and (min-width:1024px) {
    #grilla {
        height: 100vh;
        display: grid;
        grid-template-areas:
        "header header header header"
        "img img img img"
        "nav nav nav nav"        
        "titulo titulo titulo titulo"
        "main main main main"
        "footer footer footer footer";
        grid-template-rows: repeat(6, 1fr); 
        grid-template-columns: repeat(4, 1fr);

        header{
            h1{
                font-size: 8em; 
            }
        }

        #img {
            img{
                height: 75vh;
                }
         }


     }

/*Menu*/
.border{
   justify-content: center;
}
   nav{
       ul{
           li{
               &:hover{
                     transform: rotate(5deg);
                     background-color: rgb(235, 144, 39);
               }
           }
       }
   }

   
main{
    .imagenChica{
        &:hover{
            scale: 1.2;
            transition: 0.5s;
        }
    }

    .imagenes{
        &:hover{
            scale: 1.1;
            transition: 0.5s;
        }
    }
}
}